extends header

block sidebar
  .d-flex.flex-column.align-items-stretch.flex-shrink-0.bg-body-tertiary.border-end
    ul.nav.nav-tabs
      
      // TODO List
      li.nav-item
        a.nav-link.active(href='#') Context A
        
      li.nav-item
        a.nav-link(href='#') ...

    .list-group.list-group-flush.border-bottom.overflow-y-auto

      // TODO List
      a.list-group-item.list-group-item-action.py-3.lh-sm(draggable='true' data-bs-toggle='modal' data-bs-target='#promptModal' href='#')
        .d-flex.w-100.align-items-center.justify-content-between
          strong Greg
          small.text-body-secondary Person
        .col-10.mb-1.small Some placeholder content in a paragraph below the header for Greg.

  .modal.fade(id='promptModal' tabIndex='-1')
    .modal-dialog.modal-xl
      .modal-content
        // TODO Dynamics
        .modal-header
          h1.modal-title.fs-5(id='promptModalHeader') Placeholder
        .modal-body
          input.form-control(type='text' placeholder='Person\'s Name' id='promptModalEditHeader')
          textarea.form-control(placeholder='Person\'s Description' id='promptModalEditText' style='height: 500px;')
        .modal-footer
          button.btn.btn-secondary(data-bs-dismiss='modal') Cancel
          button.btn.btn-primary(data-bs-dismiss='modal') Save and Close

block account
  .dropstart
    a.d-block.link-body-emphasis.text-decoration-none.dropdown-toggle(href='#', data-bs-toggle='dropdown')
      img(src='https://github.com/mdo.png', alt='mdo', width='32', height='32', class='rounded-circle')
    .dropdown-menu.text-small.shadow
          ul.list-unstyled.mb-0
            li  
              h3.dropdown-header My Account
            li
              a.dropdown-item.d-flex.gap-2(href='#')  
                p.lh-lg.mb-0 Settings
            li
              a.dropdown-item.d-flex.gap-2(href='#') 
                p.lh-lg.mb-0 Sign Out

block content
  // messages
  .d-flex.flex-column.flex-grow-1.overflow-y-auto

    // TODO List
    .d-flex.justify-content-end.m-4
      p.bg-secondary-subtle.rounded.p-2 Hello world!
    .d-flex
      p.bg-body.rounded.p-2.m-4
        img.me-3(src='https://github.com/mdo.png', alt='mdo', width='32', height='32', class='rounded-circle')
        span How are you? 

  // input bar
  .container-fluid.align-items-center.border-top
    .d-inline-flex.justify-content-left.gap-3.mx-2.mt-2

      // TODO List
      button.btn.btn-primary.rounded-pill.d-flex.align-items-center(style='height: 1.75rem')
        span
          svg.bi.m-2.text-light(width='14', height='14' fill='currentColor')
            use(xlink:href='bootstrap-icons.svg#three-dots')
          span(style='font-size: 0.75rem') summarize

    .d-flex.gap-3.mx-2.my-2

      .flex-shrink-0.dropdown-center
        a.d-block.link-body-emphasis.text-decoration-none.dropdown-toggle.mt-1(href='#', data-bs-toggle='dropdown')
          img(src='https://github.com/mdo.png', alt='mdo', width='48', height='48', class='rounded-circle')

        .dropdown-menu.text-small.shadow
          ul.list-unstyled.mb-0
            li  
              h3.dropdown-header AI Persona

            // TODO List
            li
              a.dropdown-item.d-flex.gap-2.active(href='#')  
                img(src='https://github.com/mdo.png', alt='mdo', width='32', height='32', class='rounded-circle')
                p.lh-lg.mb-0 Standard
            li
              a.dropdown-item.d-flex.gap-2(href='#') 
                img(src='https://github.com/mdo.png', alt='mdo', width='32', height='32', class='rounded-circle') 
                p.lh-lg.mb-0 Formal

            li
              hr.dropdown-divider
            li
              a.dropdown-item(href='#') Edit personas...

      .form-floating.w-100
        textarea.form-control(placeholder='Chat with AI...' id='chatInputBox')
        label(for='chatInputBox') Chat with AI...
      
      button.btn.btn-primary.rounded-pill.d-flex.align-items-center(style='height: 3.5rem')
        svg.bi.m-2.text-light(width='14', height='14' fill='currentColor')
          use(xlink:href='bootstrap-icons.svg#send-fill')