extends header

block scripts
    script(src='jquery.min.js')
    script(src='purify.min.js')
    script(type='module' src='javascripts/client.js')

block links
  h1#pg-document-title.d-inline-flex.align-items-center.fs-5.my-0.me-2 #{document ? document.name : ''}
  ul.nav.col-12.col-lg-auto.justify-content-start.align-items-center
    li
      .dropdown
        a.nav-link.px-2.dropdown-toggle(href='#' data-bs-toggle="dropdown") File
        ul.dropdown-menu 
          li
            a#pg-document-reload.dropdown-item(href='#') Reload
            a#pg-document-open.dropdown-item(href='#' data-bs-toggle='modal' data-bs-target='#pg-document-modal') Open
            a.dropdown-item(href='/editor') Close 
            
    li
      .dropdown
        a.nav-link.px-2.dropdown-toggle(href='#' data-bs-toggle="dropdown") Edit
        ul.dropdown-menu 
          li
            a#pg-document-undo.dropdown-item.disabled(href='#') Undo
            a#pg-document-redo.dropdown-item.disabled(href='#') Redo
    
    li
      .dropdown
        a.nav-link.px-2.dropdown-toggle(href='#' data-bs-toggle="dropdown") Prompts
        ul.dropdown-menu 
          li
            a#pg-document-undo.dropdown-item.disabled(href='#') Import
            a#pg-document-redo.dropdown-item.disabled(href='#') Export

block account
  .dropdown
    a.dropdown-toggle.text-decoration-none.me-1(href='#' data-bs-toggle='dropdown') #{user.displayName}
    .dropdown-menu.dropdown-menu-sm-end.text-small.shadow-none
          ul.list-unstyled.mb-0
            li
              a.dropdown-item.d-flex.gap-2.g_id_signout(href='/logout') 
                p.lh-lg.mb-0 Sign Out

block sidebar
  .d-flex.flex-column.align-items-stretch.bg-body-tertiary.border-end.vh-100
  
    // Prompt list
    .list-group.list-group-flush.overflow-y-auto.vh-100.pg-below-navbar
      #pg-prompt-list

      // Add new prompt
      a#pg-prompt-new.list-group-item.list-group-item-action.py-3.d-flex.align-items-center.justify-content-center.text-decoration-none.text-primary.border-bottom(style='cursor: pointer; width: 300px;' data-bs-toggle='modal' data-bs-target='#pg-prompt-modal') 
        img(width='24' height='24' src='images/plus.svg')
        span.me-2 New Prompt

block content
  .d-flex.flex-column.w-100.h-100
    .d-flex.w-100.h-100.overflow-y-auto
      #pg-document-view.w-100.p-4.pg-below-navbar
        if document
          p #{document}
        else
          .d-flex.align-items-center.justify-content-center.w-100.h-100
            a#pg-document-view-open(href='#' data-bs-toggle='modal' data-bs-target='#pg-document-modal') Open a Document

    // Chatbox input bar
    .container-fluid.p-0.w-100.border-top
      .d-flex.gap-2.mx-2.my-1.w-100

        // AI Persona Dropdown
        .dropdown-center
          a.d-block.link-body-emphasis.text-decoration-none.dropdown-toggle.mt-1(href='#' data-bs-toggle='dropdown')
            img(src='https://upload.wikimedia.org/wikipedia/commons/e/ef/ChatGPT-Logo.svg' width='28' height='28' class='rounded-circle')

          .dropdown-menu.text-small.shadow
            h3.dropdown-header AI Personae
            ul#pg-persona-list.list-unstyled.mb-0
            hr.dropdown-divider
            a#pg-persona-new.dropdown-item(href='#' data-bs-toggle='modal' data-bs-target='#pg-persona-modal') New Persona
          
        textarea#pg-chat-input.flex-grow-1(style='height: 36px; min-height: 36px;' placeholder='Chat with AI...')
        
        button#pg-chat-send.btn.btn-primary.rounded-pill.d-flex.align-items-center.p-2.me-3(style='width: 32px; height: 32px;')
          img(width='16' height='16' src='images/send.svg')

block modals
  // Prompt editor modal
  #pg-prompt-modal.modal.fade(tabIndex='-1' data-bs-backdrop="static" data-bs-keyboard="false")
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          h1#pg-prompt-modal-header.modal-title.fs-5 New Prompt
        .modal-body
          input#pg-prompt-modal-edit-header.form-control(type='text' placeholder='Prompt Name')
          textarea#pg-prompt-modal-edit-description.form-control(style='height: 100px;' placeholder='Provide some additional context for your AI chat.')
        .modal-footer
          button.btn.btn-danger(data-bs-toggle='modal' data-bs-target='#pg-prompt-modal-delete') Delete
          button#pg-prompt-modal-cancel.btn.btn-secondary(data-bs-dismiss='modal') Cancel
          button#pg-prompt-modal-save.btn.btn-primary(data-bs-dismiss='modal') Save and Close

  // Prompt delete confirmation
  #pg-prompt-modal-delete.modal.fade(tabIndex='-1')
    .modal-dialog.modal-sm
      .modal-content
        .modal-body
          p Are you sure you want to delete this prompt?
        .modal-footer
          button.btn.btn-secondary(data-bs-toggle='modal' data-bs-target='#pg-prompt-modal') Cancel
          button#pg-prompt-delete.btn.btn-danger.align-self-start(data-bs-dismiss='modal') Delete

  // Document selector modal
  #pg-document-modal.modal.fade(tabIndex='-1')
    .modal-dialog
      .modal-content
        .modal-header
          h1.modal-title.fs-5 Select a Document
          button.btn-close(data-bs-dismiss='modal')
        #pg-document-modal-list.modal-body

  // Persona Editor Modal
  #pg-persona-modal.modal.fade(tabIndex='-1' data-bs-backdrop="static" data-bs-keyboard="false")
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          h1#pg-persona-modal-header.modal-title.fs-5 New Persona
        .modal-body
          input#pg-persona-modal-edit-header.form-control(type='text' placeholder='Persona Name')
          textarea#pg-persona-modal-edit-description.form-control(style='height: 100px;' placeholder='"Use a formal tone," "Avoid saying X," etc.')
          .dropdown
            button.btn.btn-primary.d-flex.gap-1.align-items-center.dropdown-toggle.mt-1(href='#' data-bs-toggle='dropdown')
              img(src='https://upload.wikimedia.org/wikipedia/commons/e/ef/ChatGPT-Logo.svg' width='28' height='28' class='rounded-circle')
              p.m-0 ChatGPT 3.5
            .dropdown-menu
              li  
                h3.dropdown-header AI Type
              li
                a.dropdown-item.disabled More coming soon!

        .modal-footer
          button.btn.btn-danger(data-bs-toggle='modal' data-bs-target='#pg-persona-modal-delete') Delete
          button.btn.btn-secondary(data-bs-dismiss='modal') Cancel
          button#pg-persona-modal-save.btn.btn-primary(data-bs-dismiss='modal') Save and Close

  // Persona delete confirmation
  #pg-persona-modal-delete.modal.fade(tabIndex='-1')
    .modal-dialog.modal-sm
      .modal-content
        .modal-body
          p Are you sure you want to delete this persona?
        .modal-footer
          button.btn.btn-secondary(data-bs-toggle='modal' data-bs-target='#pg-persona-modal') Cancel
          button#pg-persona-delete.btn.btn-danger.align-self-start(data-bs-dismiss='modal') Delete