doctype html
html
  head
    title PromptGarden
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    script(src='js/bootstrap.bundle.min.js')
    script(src='jquery.min.js')
    script(src='javascripts/main.js')
  body
    block main
      main.container-fluid.p-0.d-inline-flex(style='height: 100vh;')
        block sidebar
        .d-flex.flex-column.flex-grow-1
          block header
          block content
