extends layout 

block scripts
  script(src='https://accounts.google.com/gsi/client', async)

block main 
  .d-flex.align-items-center.py-4(style='height: 100vh;')
    main.form-signin.w-100.m-auto(style='max-width: 330px')
      .d-flex.flex-column.align-items-center.p-2.w-100
        img.bi.m-2(width='64', height='64', src='images/icon.svg')
        h1.h4.mb-3.fw-normal PromptGarden

        a.button(href='login/auth/google') Log In With Google